<h1>Wellcome <%=name%>!</h1>


<nav>
    <ul>
        <li><a href = '/login'>login</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/products">products</a></li>
        <li><a href = 'categories'>categories</a></li>
        <li><a href = '/cart'>cart</a></li>
        <li><a href="/myaccount">my account</a></li>
    </ul>
</nav>
