<html>
    <head>
        <title>
            My Acount
        </title>
    </head>
    <body>
        <h1>My account</h1>
        <h2><%= name %></h2>
        <form method="post" action="/logout">
            <input type="hidden" name="logout" value="">
            <button type="submit">Logout</button>
          </form>
    </body>
</html>