<body>
    <header>
        <h1>Products</h1>
    </header>
    <div>
        <ul>
            <li>shirt</li>
            <li>jeans</li>
            <li>paper</li>
            <li>copybook</li>
            <li>cheese</li>
            <li>bacon</li>
        </ul>
    </div>
</body>